:root {
    font-size: 16px;
}

// body {
//     width: 1024px;
// }
//  Register

.registerContainer {
    form{
        flex-direction: row;
    }
    button {
        @include button;
        margin: 0 0 0 2rem;
    }
}

.logoutButton {
    display: block;
    margin-right: 1rem;
    visibility: visible;
    border: 3px solid transparent;
    &:hover {
        border: 3px solid lime;
    }
}


.logoutButtonIcon {
    display: none;
    visibility: hidden  ;
}

.gameContainer {
    margin-top: 5%;
}

// .gameContainer div {
//     margin: auto;
//   }