/* 1. Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Add accessible line-height */
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: sans-serif;
}

/* 4. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/* 5. Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* 6. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* 7. Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

body {
  display: grid;
  height: 100dvh;
  width: 100vw;
  grid-template-rows: auto 1fr auto;
}

/*////////////////////////////////////RESPONSIVE TABLET 768px////////////////////////////////////////////*/
:root {
  font-size: 20px;
}

/*////////////////////////////////////HEADER////////////////////////////////////////////*/
header {
  background-color: black;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
header h1 {
  color: white;
  margin: auto;
}

.navBar {
  display: flex;
  margin: auto;
}
.navBar ul {
  width: 25rem;
  display: flex;
  justify-content: space-around;
}
.navBar li {
  text-transform: uppercase;
}
.navBar a {
  color: white;
}
.navBar a:hover {
  text-shadow: 2px 2px 3px lime;
}

.loginContainer {
  width: 10rem;
  height: 10rem;
}
.loginContainer form {
  display: flex;
  flex-direction: column;
}
.loginContainer button {
  border: 3px solid transparent;
  margin: 1rem 0 1rem 0;
}
.loginContainer button:hover {
  border: 3px solid lime;
  cursor: pointer;
}
.loginContainer a {
  margin: auto;
  color: white;
  text-decoration: revert;
}
.loginContainer a:hover {
  color: lime;
}
.loginContainer label {
  color: white;
}

.logoutButtonIcon {
  visibility: visible;
  border: 3px solid transparent;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
  cursor: pointer;
}
.logoutButtonIcon:hover {
  border: 3px solid lime;
}

.logoutButton {
  display: none;
  visibility: hidden;
  cursor: pointer;
}

/*////////////////////////////////////MAIN////////////////////////////////////////////*/
main {
  padding: 1rem;
  background-color: #362222;
}

.homeContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.eyeOpenIndex {
  position: absolute;
  right: 30%;
  bottom: 47%;
  display: none;
  width: 1.5rem;
}
.eyeOpenIndex:hover {
  cursor: pointer;
}

.eyeCloseIndex {
  position: absolute;
  right: 30%;
  bottom: 47%;
  width: 1.5rem;
}
.eyeCloseIndex:hover {
  cursor: pointer;
}

/* LEADERBOARD PAGE */
.leaderBoardContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.leaderBoard {
  border: 2px solid greenyellow;
  width: 30rem;
  text-align: center;
  color: #a2dda2;
  animation: borderAnimation 2s infinite;
}

@keyframes borderAnimation {
  0% {
    border: 2px solid transparent;
  }
  50% {
    border: 2px solid greenyellow;
  }
  100% {
    border: 2px solid transparent;
  }
}
/* GAME Page */
.menuGame {
  text-align: center;
}

.gameBoard {
  display: flex;
  flex-direction: column;
}

.gameBoard label {
  color: white;
}

.buttonStart {
  border: 3px solid transparent;
  margin-left: 2rem;
}
.buttonStart:hover {
  border: 3px solid lime;
  cursor: pointer;
}

/* cursor size max 36px 36px */
.gameContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 120px;
  cursor: url(/public/assets/imgs/hammerCursor.svg), pointer;
  margin-top: 10%;
}

.gameContainer div {
  width: 40%;
  margin: auto;
}

.hole1 {
  grid-area: 1/1/2/2;
}

.hole2 {
  grid-area: 1/2/2/3;
}

.hole3 {
  grid-area: 1/3/2/4;
}

.hole4 {
  grid-area: 2/1/3/2;
}

.hole5 {
  grid-area: 2/2/3/3;
}

.hole6 {
  grid-area: 2/3/3/4;
}

.hole7 {
  grid-area: 3/1/4/2;
}

.hole8 {
  grid-area: 3/2/4/3;
}

.hole9 {
  grid-area: 3/3/4/4;
}

/* ALERT ANIMATION */
.alert {
  color: white;
  background-color: red;
  animation: alertAnimation 1s infinite;
}

.valid {
  color: white;
  background-color: lime;
}

@keyframes alertAnimation {
  0% {
    box-shadow: 0 0 0 0 #888888;
  }
  50% {
    box-shadow: 0px 0px 20px 10px #ff0000;
  }
  100% {
    box-shadow: 0 0 0 0 #888888;
  }
}
/*  REGISTER PAGE */
.registerContainer {
  display: flex;
  justify-content: center;
}
.registerContainer form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.registerContainer button {
  border: 3px solid transparent;
  margin: 1rem 0 1rem 0;
}
.registerContainer button:hover {
  border: 3px solid lime;
  cursor: pointer;
}
.registerContainer label {
  color: white;
}

.eyeOpenRegister {
  position: absolute;
  right: 24%;
  bottom: 50%;
  display: none;
  width: 1.5rem;
}
.eyeOpenRegister:hover {
  cursor: pointer;
}

.eyeCloseRegister {
  position: absolute;
  right: 24%;
  bottom: 50%;
  width: 1.5rem;
}
.eyeCloseRegister:hover {
  cursor: pointer;
}

.eyeOpenRegisterVerify {
  position: absolute;
  right: 24%;
  bottom: 44%;
  display: none;
  width: 1.5rem;
}
.eyeOpenRegisterVerify:hover {
  cursor: pointer;
}

.eyeCloseRegisterVerify {
  position: absolute;
  right: 24%;
  bottom: 44%;
  width: 1.5rem;
}
.eyeCloseRegisterVerify:hover {
  cursor: pointer;
}

/*////////////////////////////////////FOOTER////////////////////////////////////////////*/
footer {
  padding: 1rem;
  background-color: black;
}

.textLeaderboard {
  color: lime;
  overflow-x: hidden;
  white-space: nowrap;
}

@keyframes rightToLeft {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(-100%);
  }
}
/*////////////////////////////////////RESPONSIVE DESKTOP////////////////////////////////////////////*/
@media screen and (min-width: 1024px) {
  :root {
    font-size: 16px;
  }
  .registerContainer form {
    flex-direction: row;
  }
  .registerContainer button {
    border: 3px solid transparent;
    margin: 0 0 0 2rem;
  }
  .registerContainer button:hover {
    border: 3px solid lime;
    cursor: pointer;
  }
  .logoutButton {
    display: block;
    margin-right: 1rem;
    visibility: visible;
    border: 3px solid transparent;
  }
  .logoutButton:hover {
    border: 3px solid lime;
  }
  .logoutButtonIcon {
    display: none;
    visibility: hidden;
  }
  .gameContainer {
    margin-top: 5%;
  }
}

/*# sourceMappingURL=style.css.map */
